/* You can add global styles to this file, and also import other style files */
.con {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100vh;
}
.value {
  position: relative;
}
body,html{
  height:100vh;

  
}
