


<div class="con" [style.background]="'url('+selectedbackground+')'">

  <div *ngIf="selectedEvent">

    <!--selectedEvent.myTemplate.backGroundImg-->
    <div style="position:absolute" *ngFor="let eventfield of selectedEvent.eventFields" [style.font-size.px]="eventfield.myTemplateField.fontSize" [style.color]="eventfield.myTemplateField.fontColor" [style.font-family]="eventfield.myTemplateField.fontFamily" [style.left.px]="eventfield.myTemplateField.leftPosition" [style.top.%]="eventfield.myTemplateField.topPosition" [style.font-style]="eventfield.myTemplateField.fontStyle" [style.font-weight]="eventfield.myTemplateField.fontWeight"
         class="event-field-demo">{{ eventfield.value }}</div>


    <!--<div *ngFor="let item of events" [style.font-size.px]="myTemplate.templateFields.fontSize" [style.color]="myTemplate.templateFields.fontColor" [style.font-family]="myTemplate.templateFields.fontFamily" [style.margin-left.px]="myTemplate.templateFields.leftPosition" [style.margin-top.px]="myTemplate.templateFields.topPosition" [style.font-style]="myTemplate.templateFields.fontStyle" [style.font-weight]="myTemplate.templateFields.fontWeight"
         class="event-field-demo">{{ myTemplate.templateFields.eventFields.Value }}</div>
  </div>-->
    <!--<div *ngFor="let item of events" [style.font-size.px]="+item.myTemplate.templateFields.fontSize" [style.color]="+item.myTemplate.templateFields.fontColor" [style.font-family]="+item.myTemplate.templateFields.fontFamily" [style.margin-left.px]="+item.myTemplate.templateFields.leftPosition" [style.margin-top.px]="+item.myTemplate.templateFields.topPosition" [style.font-style]="+item.myTemplate.templateFields.fontStyle" [style.font-weight]="+item.myTemplate.templateFields.fontWeight"
         class="event-field-demo">{{ myTemplate.templateFields.eventFields.Value }}</div>
  </div>-->
    <!--<div style="position:absolute " *ngFor="let eventfield of item.eventFields" [style]="{ 'fontSize':eventfield.myTemplateField.fontSize , 'fontColor':'eventfield.myTemplateField.fontColor','font-family': 'eventfield.myTemplateField.fontFamily','margin-left.px':'eventfield.myTemplateField.leftPosition','margin-top.px':'eventfield.myTemplateField.topPosition','font-style':'eventfield.myTemplateField.fontStyle','font-weight':'eventfield.myTemplateField.fontWeight'} "
       class="event-field-demo">{{ eventfield.value }}</div>-->
    <!--<div *ngFor="let event of events" [style.background-image]="'url(' + event.background + ')'" class="event-demo">-->
  </div>
</div>

<!--<div *ngFor="let event of events" [style.background-image]="'url(' + event.background + ')'" class="event-demo">-->
