.container {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: calc(100vw ) !important;
  height: calc(100vh ) !important;
  background-size: 100% 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  /*position: absolute;*/
}
